<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Details</title>
    <link rel="stylesheet" href="/style2.css">
    </head>
<body>
    
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ32on2ON_9gXGAzjiloeAZEkFgdRPyz5cE8g&s" alt="Rare Car">
        <h2><% CarName %> </h2>
        <p>Username: CarCollector101</p>
        <p>Year Built: 1962</p>
        <p>How Many Left: 36</p>
        <p>Price: $70,000,000</p>
        <p>For Sale: Yes</p>
        <p>Description: A legendary Ferrari with racing pedigree and stunning design.</p>
    </div>
</body>
</html>
